h1.main {
    background-color: rgb(248, 171, 171);
    text-align: center;
    font-size: 50px;
}

.main.subheader {
    color: rgb(0, 19, 187);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.list {
    color: rgb(0, 180, 24);
}

.bullet {
    color: red;
    font-size: 30px;
}